<div class="content_post" >
    <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', article_path(article.id), method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == article.user_id %>
            <li>
              <%= link_to '編集', edit_article_path(article.id), method: :get %>
            </li>
            <li>
              <%# <%= link_to '削除', "/articles/#{article.id}", method: :delete %>
              <%= link_to '削除', article_path(article.id), method: :delete %>
            </li>
          <% end %>
        </ul>
      </div>
      <span class="name_1">
        <%= link_to "#{article.user.nickname}さんが#{article.created_at}に投稿" , user_path(article.user.id), method: :get %>
      </span>
      <p class = title_1><%= link_to article.title, article_path(article.id), method: :get %></p>
      <%# <p><%= article.text %>
      <p><%= markdown(article.text) %></p>
    </div>